langchain
langchain-community
streamlit
langchain-chroma

sentence-transformers
tiktoken

transformers 
instructorEmbedding

wikipedia
duckduckgo-search
langchain-core

requests
ddgs

PyPDF2 
pinecone-client


python-dotenv
langchain
langchain-community
langchain-ollama
langchain-openai
PyPDF2
tiktoken
